<!--
  Copyright (C) 2017 Kai-Chung Yan (殷啟聰)

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or any later
  version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="chat.viska">
  <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="27"/>
  <supports-screens android:largeScreens="true" android:xlargeScreens="true"/>

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
  <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>

  <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>

  <application android:name=".android.Application"
               android:allowBackup="true"
               android:icon="@drawable/icon"
               android:label="@string/title_app"
               android:logo="@drawable/icon"
               android:supportsRtl="true"
               android:theme="@style/Main">
    <activity android:name=".android.demo.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".android.LoginActivity" android:theme="@style/Immersive"/>
    <activity android:name=".android.demo.CallingActivity"
              android:theme="@style/Immersive"
              android:documentLaunchMode="always"
              android:excludeFromRecents="true"/>
    <service android:name=".android.XmppService"/>
    <service android:name=".android.AuthenticatorService" android:exported="false">
      <intent-filter>
        <action android:name="android.accounts.AccountAuthenticator"/>
      </intent-filter>
      <meta-data android:name="android.accounts.AccountAuthenticator"
                 android:resource="@xml/authenticator"/>
    </service>
    <receiver android:name=".android.BootCompletedBroadcastReceiver" android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
      </intent-filter>
    </receiver>
  </application>

</manifest>